<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Set the Style of the Four Borders</title>

	<style type="text/css">
		p.none
		{
			border-style: none;
		}
		p.dotted
		{
			border-style: dotted;
		}
		p.dashed
		{
			border-style: dashed;
		}
		p.solid
		{
			border-style: solid;
		}
		p.double
		{
			border-style: double;
		}
		p.groove
		{
			border-style: groove;
		}
		p.ridge
		{
			border-style: ridge;
		}
		p.inset
		{
			border-style: inset;
		}
		p.outset
		{
			border-style: outset;
		}
		p.hidden
		{
			border-style: hidden;
		}
	</style>

</head>
<body>

	<p class="none">No Border.</p>
	<p class="dotted">A Dotted Border.</p>
	<p class="dashed">A Dashed Border.</p>
	<p class="solid">A Solid Border.</p>
	<p class="double">A Double Border.</p>
	<p class="groove">A Groove Border.</p>
	<p class="ridge">A Ridge Border.</p>
	<p class="inset">An Inset Border.</p>
	<p class="outset">An Outside Border.</p>
	<p class="hidden">A Hidden Border.</p>

</body>
</html>