<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Set the color of the Four Borders</title>

	<style type="text/css">
		p.one
		{
			border-style: solid;
			border-color: #0000ff;
		}
		p.two
		{
			border-style: solid;
			border-color: #ff0000 #0000ff;
		}
		p.three
		{
			border-style: solid;
			border-color: #ff0000 #00ff00 #0000ff;
		}
		p.four
		{
			border-style: solid;
			border-color: #ff0000 #00ff00 #0000ff rgb(250, 0, 255);
		}
	</style>

</head>
<body>

	<p class="one">One-Colored Border!</p>
	<p class="two">Two-Colored Border!</p>
	<p class="three">Three-Colored Border!</p>
	<p class="four">Four-Colored Border!.</p>
	<p><b>Note:</b> The "border-color" property does not work if it is used alone. Use the "border-style" property to set the borders first.</p>

</body>
</html>