<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Set Different Borders on Each Side</title>

	<style type="text/css">
		p.one
		{
			border-style: dotted solid dashed double;
		}
		p.two
		{
			border-style: dotted solid dashed;
		}
		p.three
		{
			border-style: dotted solid;
		}
		p.four
		{
			border-style: dotted;
		}
	</style>

</head>
<body>

	<p class="one">This is some text in a paragraph.</p>
	<p class="two">This is some text in a paragraph.</p>
	<p class="three">This is some text in a paragraph.</p>
	<p class="four">This is some text in a paragraph.</p>

</body>
</html>