<!-- text-tranform
	* The text-transform property changes the capitialization of text within an element.
-->

<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Text Transform</title>

	<style type="text/css">
		h2
		{
			text-transform: capitalize;
		}
		h3
		{
			text-transform: uppercase;
		}
		h4
		{
			text-transform: lowercase;
		}
	</style>

</head>
<body>

	<h2>Programming Hub!</h2>
	<h3>Programming Hub!</h3>
	<h4>Programming Hub!</h4>

</body>
</html>